on init
	mount none /vendor/etc/empty /vendor/lib/hw/keystore.mdfpp.so bind
	mount none /vendor/etc/empty /vendor/lib/hw/keystore.msm8937.so bind
	mount none /vendor/etc/empty /odm/app/SamsungMax/SamsungMax.apk bind
	mount none /vendor/etc/empty /odm/app/MyGalaxy/MyGalaxy.apk bind

on property:ro.boot.product.model=SM-J415F
	setprop device.no.fingerprint true

on property:ro.boot.product.model=SM-J415G
	setprop device.no.fingerprint true

on property:ro.boot.product.model=SM-J610F
	setprop ro.hardware.sensors j6primelte

on property:ro.boot.product.model=SM-J610G
	setprop ro.hardware.sensors j6primelte

on property:device.no.fingerprint=true
	mount none /vendor/etc/empty /vendor/bin/hw/vendor.samsung.hardware.biometrics.fingerprint@2.1-service bind
	mount none /vendor/etc/empty /vendor/etc/init/vendor.samsung.hardware.biometrics.fingerprint@2.1-service.rc bind
	mount none /vendor/etc/empty /vendor/etc/permissions/android.hardware.fingerprint.xml bind
	mount none /vendor/etc/empty /vendor/lib/vendor.samsung.hardware.biometrics.fingerprint@2.1.so bind
	mount none /vendor/etc/empty /vendor/lib/hw/fingerprint.default.so bind
	
on property:ro.hardware.sensors=j6primelte
	setprop ctl.restart vendor.sensors-hal-1-0
