# Copyright (C) 2012 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#

import /init.fac.rc

on post-fs-data
    chown system system /sys/block/mmcblk0/queue/read_ahead_kb
    chown system system /sys/block/dm-0/queue/read_ahead_kb
    chown system system /sys/block/mmcblk0/queue/nr_requests
    chmod 0664 /sys/block/mmcblk0/queue/read_ahead_kb
    chmod 0664 /sys/block/dm-0/queue/read_ahead_kb
    chmod 0664 /sys/block/mmcblk0/queue/nr_requests
    write /sys/block/mmcblk0/queue/read_ahead_kb 2048
    write /sys/block/dm-0/queue/read_ahead_kb 2048
    write /sys/block/mmcblk0/queue/nr_requests 256
    
# Samsung Pay
    mkdir /efs/pfw_data 0760 spay spay

# OLAF setup cgroup freezer
    mkdir /dev/freezer
    mount cgroup none /dev/freezer freezer
    mkdir /dev/freezer/olaf
    write /dev/freezer/olaf/freezer.state THAWED
    mkdir /dev/cpuset/olaf
    copy /dev/cpuset/cpus /dev/cpuset/olaf/cpus
    copy /dev/cpuset/mems /dev/cpuset/olaf/mems
    chown system system /dev/freezer/olaf
    chown system system /dev/freezer/olaf/tasks
    chown system system /dev/freezer/olaf/cgroup.procs
    chown system system /dev/freezer/olaf/freezer.state
    chown system system /dev/cpuset/olaf
    chown system system /dev/cpuset/olaf/tasks
    chown system system /dev/cpuset/olaf/cpus
    chmod 0644 /dev/freezer/olaf/tasks
    chmod 0644 /dev/freezer/olaf/cgroup.procs
    chmod 0644 /dev/freezer/olaf/freezer.state
    chmod 0664 /dev/cpuset/olaf
    chmod 0664 /dev/cpuset/olaf/tasks
    chmod 0664 /dev/cpuset/olaf/cpus

# MST/NFC Switch
    chown spay system /dev/mst_ctrl
    chmod 0660 /dev/mst_ctrl    

#SystemFramework
    chown system system /data/cache/backup
    chmod 0711 /data/cache/backup
    chown system system /data/cache/backup_stage
    chmod 0711 /data/cache/backup_stage

on early-boot
    chown bluetooth bluetooth /dev/ttyHS0
    chmod 0660 /dev/ttyHS0

on fs

# Fingerprint
    mkdir /dev/validity 0770 system system
    mkdir /data/validity 0770 system system

# FINGERPRINT FRAMEWORK starts fingerprintd
service fingerprintd /system/bin/fingerprintd
    class late_start
    user system
    group system

on boot
# remove resampling
    setprop ro.input.noresample 1

# permission for Input Device(Touchkey).
    chown radio system /sys/class/sec/sec_touchkey/touch_sensitivity
    chown radio system /sys/class/sec/sec_touchkey/touchkey_firm_update
    chown system radio /sys/class/sec/sec_touchkey/glove_mode
    chown system radio /sys/class/sec/sec_touchkey/sar_enable
    chown system radio /sys/class/sec/sec_touchkey/sw_reset

# SSWAP
    write /proc/sys/vm/swappiness 130

# Permissions for Input Booster
    chmod 0660 /sys/class/input_booster/level
    chown system radio /sys/class/input_booster/level
    chmod 0660 /sys/class/input_booster/head
    chown system radio /sys/class/input_booster/head
    chmod 0660 /sys/class/input_booster/tail
    chown system radio /sys/class/input_booster/tail

# Keypad
    chown system system /sys/class/sec/sec_keypad/brightness

#Bluetooth	
    # for BT MAC address
    mkdir /efs/bluetooth 0770 system bluetooth
    # if already exist
    chown system bluetooth /efs/bluetooth
    chown system bluetooth /efs/bluetooth/bt_addr
    chmod 0770 /efs/bluetooth
    chmod 0660 /efs/bluetooth/bt_addr

# permissions for bluetooth.
    setprop ro.bt.bdaddr_path "/efs/bluetooth/bt_addr"
    chown bluetooth bluetooth ro.bt.bdaddr_path
    chown radio bluetooth /efs/bluetooth/bt_addr
    chmod 0640 /efs/bluetooth/bt_addr
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type

# Permissions for Charging
    chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/store_mode

# Audio NXP
    chmod 0660 /dev/i2c-1
    chown system system /dev/i2c-1

# vibrator type
    chmod 0666 /sys/class/sec/vib/dc_pmic

# Muic
    chown system radio /sys/class/sec/switch/afc_disable

# cpu online
    chown system radio /sys/devices/system/cpu/cpu0/online
    chown system radio /sys/devices/system/cpu/cpu1/online
    chown system radio /sys/devices/system/cpu/cpu2/online
    chown system radio /sys/devices/system/cpu/cpu3/online
    chown system radio /sys/devices/system/cpu/cpu4/online

#NFC
	chmod 0660 /dev/sec-nfc
	chown nfc nfc /dev/sec-nfc
#ESE
	chmod 0660 /dev/p3
	chown system system /dev/p3

# Permissions for NXP NFC
# NFC Permissions for NFC
    chmod 0660 /dev/pn547
# NFC change owner
    chown nfc nfc /dev/pn547

# Permissions for NXP ESE
    chmod 0660 /dev/p61
    chown system system /dev/p61

#MST HW Support
    setprop ro.mst.support 0

# SSWAP
service swapon /sbin/sswap -s -f 1536
    class core
    user root
    group root
    seclabel u:r:sswap:s0
    oneshot

on property:sys.boot_completed=1
    write /sys/block/mmcblk0/queue/read_ahead_kb 128
    write /sys/block/dm-0/queue/read_ahead_kb 128
    write /sys/block/mmcblk0/queue/nr_requests 128

